fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic-settings==2.10.1
httpx==0.28.1
numpy==2.1.1
pydicom==3.0.1
Pillow==11.3.0
PyYAML==6.0.2
lxml==6.0.0
opencv-python-headless==4.11.0.86
scipy==1.16.1
ultralytics==8.3.74
